body {
    font-family: Arial, sans-serif;
}

header, footer {
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4;
    background: url("../img/21.jpg") no-repeat center bottom;
    opacity: 85%;
}

header a {
    display: inline-block;
    background-color: #cfad80; 
    color: white;
    padding: 8px 15px;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

header a:hover {
    background-color: #ad8424; 
}

footer a {
    display: inline-block;
    background-color: #cfad80; 
    color: white;
    padding: 8px 15px;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
}

footer a:hover {
    background-color: #ad8424; 
}

footer:hover {
    background-image: url("../img/21.jpg");
    opacity: 95%;
    transition: opacity 0.5s;
  }

header:hover {
    background-image: url("../img/21.jpg");
    opacity: 95%;
    transition: opacity 0.5s;
}

.food-item {
    display: flex; /* 设置为flex容器 */
    flex-direction: row; /* 子元素水平排列 */
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, color 0.3s ease; /* 新增颜色变化过渡效果 */
    align-items: center; /* 垂直居中对齐 */
    background: url("../img/22.jpg") no-repeat center bottom;
}

.food-item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* 悬停时添加阴影效果 */
    color: #ad8424; /* 悬停时文字颜色改变，这里颜色可根据喜好调整 */
}

img {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    margin-right: 20px; /* 图片右边距 */
}

/* 为了更好的响应式布局，可以为文字添加最大宽度 */
.food-item h2,.food-item p{
    margin: auto; /* 调整文字简介的外边距 */
    max-width: 60%; /* 文字简介的最大宽度 */
    font-size:35px; 
    font-family: STXingKai, Arial, sans-serif;
}

.food-item p {
    text-indent: 2em; /* 首行缩进 */
    color: #000000; /* 字体颜色 */
    font-size: 22px; /* 字体大小 */
    line-height: 2; /* 行距，1.6是常见的行距倍数 */
    font-family: STXingKai, Arial, sans-serif;
}

@keyframes imageEntrance {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.food-item img {
    animation: imageEntrance 2s ease-in-out;
}

/* 标题入场动画 */
@keyframes titleEntrance {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 应用标题入场动画 */
.food-item h2 {
    animation: titleEntrance 2s ease-in-out;
}
